<% include partials/header %>


<div class="card-group">

		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="http://www.inreads.com/wp-content/uploads/2017/08/AAEAAQAAAAAAAAg8AAAAJGFhMDRkNmMyLTY5M2EtNDgwYS1iMWE4LTk2YThkYTM0ODY4OQ-1728x800_c.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Web Developer</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/03/Complete-Android-O-Developer-Course-796x398.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Android Developer</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0969/9128/products/The_Rock_Guitarist_cf0d66b8-d0d3-44fb-b639-e16df8e9a56a.jpg?v=1480501696" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Artist</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="https://howtostartablogonline.net/wp-content/uploads/2015/06/bloger.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Blogger</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
</div>
<div class="card-group">

		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/36319725/original/488989bd4477f8d4d5099ac306b2095b11cc1413/perform-data-entry-skillfully.png" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Data Entry & Admin</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="https://www.tommcifle.com/wp-content/uploads/2016/08/sales-marketing.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Sales & Marketing</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="https://cdn.igeeksblog.com/wp-content/uploads/2012/12/Best-Language-Translation-Apps-for-iPhone-and-iPad.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Translation & Language</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
		<div class="card bg-light text-center mb-3" style="width: 18rem;">
		  <img class="card-img-top" src="http://www.quantumwebcafe.co.uk/v/vspfiles/assets/images/business%20amended.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Business Service</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">More Info</a>
		  </div>
		</div>
</div>


<% include partials/footer %>
