body{
	background-color: #FFFF;
}

.navbar{
	padding: 1px 10px;
}

.navbar a:hover{
	background-color: #FFFF;
}
.navbar-brand:hover{
	pointer-events: none;
}

.card-img-top{
	height: 50%;
}
.card{
	margin: 2px 2px;
	height:28em;
}
.jumbotron{
	background-image: url("https://pixabay.com/get/ea36b60c2ef7093ed1584d05fb1d4e97e07ee3d21cac104496f6c779a5eabcb1_340.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.7;	
}
.info{
	text-align: inline;
	background-color: #000;
	color:grey;
}
.pic{
	height: 100px;
	width: 100px;
}
.fab{
	padding: 2px;
}
.my-6{
	margin: 10px 50px;
	padding:10px 10px;
}

.carousel-inner img{
	height: 40%;
}
.carousel{
	height:50%;
}
.slide{
	transition: 5s;
}
.container h3{
	margin-bottom: 20px;
	margin-top: 50px;
}
.container i{
	color: green;
}